
bs-map .map {
  width: 10000px;
  height : 10000px;
  display: block;
  font-size: 1.5em;

  .hidden {
    opacity: 0;
    pointer-events: none
  }

  .node {
    position: absolute;
    border-radius: 5px;
    vertical-align: middle;

    input {
      width: 70px;
    }

    &:first-child {
      > div {
        background-color: rgb(115, 169, 81);
        font-size: 2em;
      }
    }
  }
}