
body {
  font-family: 'LatoHairline', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1.1em;

  .boldUp (@fontWeight : 100) {
    font-family: 'LetoThin', sans-serif;
    font-weight: @fontWeight;
  }

  h1,h2,h3,h4,h5,h6 {
    .boldUp(100);
  }

  strong {
    .boldUp(900)
  }
}